streamlit
langchain
langchain-community
langchain-core
langchain-groq
beautifulsoup4
pandas
numpy==1.26.4
python-dotenv
lxml
tiktoken
chromadb==0.4.24
protobuf==3.20.3
opentelemetry-api==1.22.0
opentelemetry-sdk==1.22.0