# streamlit
# langchain
# langchain-community
# langchain-core
# langchain-groq
# beautifulsoup4
# pandas
# python-dotenv
# chromadb
# lxml
# tiktoken
# numpy
streamlit
langchain
langchain-community
langchain-core
langchain-groq
beautifulsoup4
pandas
python-dotenv
chromadb>=0.5.0
lxml
tiktoken
numpy>=2.0
protobuf>=4.25
requests==2.31.0
urllib3==1.26.18
charset-normalizer==3.3.2